.container-create-class{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}
.form-create-class{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 8rem;
}
.form-control-subject{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.radio-group-create-class{
    padding: 0rem 8rem;
    justify-content: center;
}