$main-background-color: #f6f6fe;
$main-font-family: 'Roboto', sans-serif;


body {
  background-color: $main-background-color;
  margin: 0;
  font-family: $main-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
