.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  height: 3.9rem;
  background-color: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.content-profile {
  margin-right: 4rem;
  :hover {
    scale: 1.1;
  }
  a {
    display: flex;
    align-items: center;
  }
  img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 1rem;
  }
}
